<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>portfolio</title>
</head>
<body>

    <nav>
        <ul>

            <li>  <a href="about">about</a></li>
            <li>  <a href="portfolio">portflio</a></li>
            <li>  <a href="index">index</a></li>

        </ul>

    </nav>

<ul>
    <li>
        <a href="" >fakebok</a>
    </li>

    <li>
        <a href="https://github.com/davidloboda/zadaca2">google</a>
    </li>

    <li>
        <a href="https://github.com/davidloboda/zadaca1">mysaloon</a>
    </li>
</ul>

</body>
</html>